<section class="center-vertical">

	<h2>最近の投稿</h2>
		<% p @myposts %>
		<% @myposts.to_a.reverse.each do |music| %>
				<div class="post center-vertical">
					<img src=<%= music.image_url%> style="padding-bottom:10px;"></img>
					<p><%=music.artist%></p>
					<p><%=music.album%></p>
					<p><%=music.track%></p>
					<p><a href=<%=music.sample_url%>>サンプル</a></p>
					<p>コメント: <%=music.comment%></p>

			</div>
		<% end %>


		<%# <a href="/tasks/new">新しいtodo</a> %>
</section>