	<!-------- search -------->


		<% @tasks.each do |task| %>

				<div class="post center-vertical">
					<img src="https://is2-ssl.mzstatic.com/image/thumb/Music/v4/07/ef/75/07ef759f-ee5c-191c-86b9-0f065cd1b5e9/source/100x100bb.jpg" style="padding-bottom:10px;" >
					<p>artist: <%=task.title%></p>
					<p>コメント: <%=task.due_date%></p>
					<p>投稿者: <%=task.id%></p>
			</div>

		<% end %>


	<!-------- index -------->

		<% @tasks.each do |task| %>

				<div class="post center-vertical">
					<img src="https://is2-ssl.mzstatic.com/image/thumb/Music/v4/07/ef/75/07ef759f-ee5c-191c-86b9-0f065cd1b5e9/source/100x100bb.jpg" style="padding-bottom:10px;" >
					<p>artist: <%=task.title%></p>
					<p>コメント: <%=task.due_date%></p>
					<p>投稿者: <%=task.id%></p>
			</div>
		<% end %>

	<!-------- search -------->

			<% if @Lists.nil? || @Lists=="" then %>
        <h4> 検索結果がありません </h4>
      <% else %>
        <% @Lists.each do |music| %>
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Music/v4/07/ef/75/07ef759f-ee5c-191c-86b9-0f065cd1b5e9/source/100x100bb.jpg" style="padding-bottom:10px;" >
            <p><%=music.artistName%></p>
            <p><%=music.collectionName%></p>
            <p><%=music.trackName%></p>
        <% end %>
      <% end %>