<section class="center-vertical">

	<h2>検索フォーム</h2>

    <section class="center-vertical">
      <form action="/search" method="post">
        <input type="text" name="keyword" placeholder="アーティスト名">
        <input type="submit" value="検索">
      </form>
    </section>

	<h2>検索結果</h2>
    <section class="center-horizontal">
      <% if @Lists.nil? || @Lists=="" then %>
        <h4> 検索結果がありません </h4>
      <% else %>
        <% @Lists.each do |music| %>
          <div class="post center-vertical">

            <img src= <%= music["artworkUrl100"]%> style="padding-bottom:10px;" >
            <p><%= music["artistName"] %></p>
            <p><%= music["collectionName"] %></p>
            <p><%= music["trackName"] %></p>
            <p><a href=<%=music["previewUrl"]%> >sample</a></p>

            <form class="form-inline" action="/post" method="post">
                <input type="hidden" name="artist" value=<%=music["artistName"]%>>
                <input type="hidden" name="album" value=<%=music["collectionName"]%>>
                <input type="hidden" name="track" value=<%=music["trackName"]%>>
                <input type="hidden" name="image_url" value=<%=music["artworkUrl100"]%>>
                <input type="hidden" name="sample_url" value=<%=music["previewUrl"]%>>

                <input class="form-size" name="comment" placeholder="コメント">
                <input class="form-size" type="submit" value="投稿">
            </form>
          </div>

        <% end %>
      <% end %>
    </section>

</section>